.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px calc(50% - 1110px / 2);
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-bg);
    z-index: 3;
}

.header__menu ul {
    display: flex;
    gap: 64px;
}

.header__link {
    color: #000;
    font-family: var(--font-family-desc);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    transition: all 0.3s ease-in-out;
}