* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    background-color: var(--color-bg);
    font-family: var(--font-family-title);
}

button {
    border: none;
}