:root {
    --color-bg: #F3EDED;
    --color-btn: #7F66CC;
    --color-primary: #FFFFFF;
    --colot-text: #000000;
    --font-family-title: 'Times New Roman';
    --font-family-desc: 'Open Sans';
}

section {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

div {
    display: flex;
    gap: 10px;
}