.tasks {
    padding: 86px calc(50% - 555px) 139px;
    margin-bottom: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.tasks__title {
    font-family: var(--font-family-title);
    font-weight: 400;
    line-height: 100%;
    max-width: 308px;
    margin-bottom: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__field {
    background-color: var(--color-primary);
    padding: 10.5px 16px;
    border: none;
    border-radius: 10px;
    font-family: var(--font-family-desc);
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.form__field:hover {
    background-color: var(--color-btn);
    color: var(--color-primary);
}

label:hover {
    color: var(--color-primary);
}

.form__field:focus {
    outline: var(--color-btn) 1px solid;
    outline-offset: 2px;
    transition: all 0.2s ease-in-out;
}

.form__btn-submit {
    font-family: var(--font-family-desc);
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    padding: 11.5px 26px;
    background-color: var(--color-btn);
    max-width: 145px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.form__btn-filter {
    font-family: var(--font-family-desc);
    color: var(--color-text);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    padding: 11.5px 26px;
    background-color: var(--color-primary);
    max-width: 145px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}